body {
  width: 1180px;
  color: #ccc;
}
body.main {
  background-image: url("../img/upview_lg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body.projects {
  background-image: url("../img/circlesparks_lg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body.about {
  background-image: url("../img/mobilapps_lg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.main .jumbotron {
  margin-top: 30%;
  background: transparent;
}
.projects .jumbotron {
  margin-top: 7%;
  background: transparent;
}
.carousel-inner {
  width: 25%;
  margin: auto;
}
h1, h2 {
  text-align: center;
  color: #fffae6;
}
.main h1, .main h2 {
  color: black;
}
.main h3 {
  text-align: center;
}
a {
  color: #fffae6;
}
.main .container{
  width: 95%;
}
